# Last match in file takes precedence.

# Ping for all PRs
* @13lackHawk

# Ping for all PRs that include translations/editing fluent strings
*.ftl @13lackHawk

# Ping for all prototypes
*.yml @13lackHawk